@charset "windows-1252";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F4BB00;
    --secondary-color: #5D4600;
    --accent-color: #3B2D00;
    --light-gray: #a1a1a1;
    --dark-gray: #1a1a1a;
    --medium-gray: #303030;
    --blackish: #101010;
    --blue: #3B83FB;
    --white: #ffffff;
    --lighter-gray: #f4f4f4;
}

.highlight-bar1{
    background-color: var(--primary-color);
    height: 3px;
}

h1{
    margin: 10px 0;
}

h2{
    font-size: 25px;
    margin: 10px 0;
}

.card-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 20px;
}

.card {
    background-color: var(--primary-color);
    border: 1px solid var(--light-gray);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
}

#pending-card,
#available-card {
    background-color: var(--blackish);
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--white); 
}

.card-number {
    font-size: 50px;
    font-weight: bold;
    color: var(--blackish); 
    margin: 10px 0;
}

#pending-card .card-number,
#available-card .card-number {
    color: var(--primary-color); 
}

.see-more {
    font-size: 12px;
    color: var(--white);
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: var(--blackish);
}

.see-more:hover {
    color: var(--blackish);
    background-color: var(--white);
}

.card:hover {
    transform: scale(1.05);
}

.search-box {
    background-color: var(--primary-color);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--blackish);
}

.search-container {
    display: flex;
    margin: 10px 0;
    width: 100%;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--light-gray);
    border-radius: 4px;
    font-size: 18px;
}

.search-button {
    background-color: var(--blackish);
    border: none;
    color: var(--white);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    justify-content: center;
}

.search-button i{
    font-size: 14px;
}


@media (max-width: 1405px) {
    .card-view {
        gap: 30px;
    }
}

@media (max-width: 1375px) {
    .card-view {
        gap: 20px;
    }
}

@media (max-width: 1346px) {
    .card-heading {
        font-size: 16px;
    }
    
    .card-number {
        font-size: 48px;
        margin: 5px 0;
    }
}

@media (max-width: 1260px) {
    .card {
        padding: 15px 0;
    }
}

@media (max-width: 1215px) {
    .card-heading {
        font-size: 15px;
    }
    
    .card-number {
        font-size: 45px;
        margin: 0;
    }

    .see-more {
        font-size: 11px;
        right: 5px;
    }
}

@media (max-width: 1170px) {
    .card-heading {
        font-size: 14px;
    }
    
    .card-number {
        font-size: 40px;
        margin: 0;
    }

    .see-more {
        font-size: 11px;
    }

}

@media only screen and (min-width: 993px) and (max-width: 1169px) {
    .card {
        padding: 10px 0;
    }
    .card-heading {
        font-size: 13px;
    }
    
    .card-number {
        font-size: 35px;
        margin: 0;
    }

    .see-more {
        font-size: 10px;
        bottom: 2px;
        right: 2px;
    }

    .search-input {
        font-size: 16px;
        height: 12px;
    }
    
    .search-button {
        padding: 8px;
        font-size: 16px;

    }
    
    .search-button i{
        font-size: 14px;
    }
}

@media only screen and (max-width: 992px){
    .card-view {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }

    .card {
        padding: 20px;
    }

    .card-heading {
        font-size: 18px;
    }
    
    .card-number {
        font-size: 45px;
        margin: 0;
    }

}

@media (max-width: 768px) {
    .card-view {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }

    .search-input {
        font-size: 16px;
        height: 12px;
    }
    
    .search-button {
        padding: 8px;
        font-size: 16px;

    }
    
    .search-button i{
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .card-heading {
        font-size: 16px;
    }
    
    .card-number {
        font-size: 40px;
        margin: 0;
    }

    h2{
        font-size: 20px;
    }

}

@media (max-width: 550px) {
    .card {
        padding: 10px;
    }
    .card-view {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }

}

@media (max-width: 525px) {
    .card-heading {
        font-size: 14px;
    }
}

@media (max-width: 470px) {
    .margin-content {
        padding: 10px 20px;
    }

}

@media (max-width: 440px) {
    .card-heading {
        font-size: 12px;
    }

    .search-box {
        background-color: var(--primary-color);
        padding: 10px;
    }

    .search-input {
        font-size: 14px;
        height: 10px;
    }
    
    .search-button {
        padding: 6px;
        font-size: 14px;

    }
    
    .search-button i{
        font-size: 12px;
    }

}

@media (max-width: 410px) {
    .margin-content {
        padding: 5px 5px;
    }

    .search-box {
        padding: 5px;
     
    }
}

@media (max-width: 375px) {
    .card {      
        padding: 10px;
    }

    .card-heading {
        font-size: 11px;
    }

    .see-more {
        font-size: 10px;
        bottom: 2px;
        right: 2px;
    }

}