@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #F4BB00;
    --secondary-color: #5D4600;
    --accent-color: #3B2D00;
    --light-gray: #a1a1a1;
    --dark-gray: #1a1a1a;
    --medium-gray: #303030;
    --blackish: #101010;
    --blue: #3B83FB;
    --white: #ffffff;
    --green: #1C8454;
    --lighter-gray: #f4f4f4;
    --red: #d9534f;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
}

.error-container {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    height: auto;
    width: 100%;
}

.message-box{
    padding: 50px;
}

.error-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.text-field{
    width: 70%;
}

.message {
    font-size: 14px;
    margin-top: 20px;
    color: var(--medium-gray);
}

.highlight-bar{
    background-color: var(--primary-color);
    height: 15px;
    border-radius: 12px 12px 0 0;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image .check {
    height: 200px;
    width: 200px;
}

.image .empty {
    height: 400px;
    width: 400px;
}

.image .error {
    height: 350px;
    width: 350px;
}

.button-div{
    margin-top: 30px;
}

.button-div a{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    color: var(--blackish); 
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.button-div a:hover {
    box-shadow: none;
}




