@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F4BB00;
    --secondary-color: #5D4600;
    --accent-color: #3B2D00;
    --light-gray: #a1a1a1;
    --dark-gray: #1a1a1a;
    --medium-gray: #303030;
    --blackish: #101010;
    --blue: #3B83FB;
    --white: #ffffff;
    --green: #1C8454;
    --lighter-gray: #f4f4f4;
    --red: #d9534f;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.row1,
.row2 {
    display: flex;
    gap: 100px;
}

.nav-item1 {
    display: flex;
    flex-direction: row; 
    text-align: center;
    justify-content: center;
    border: 1px solid var(--blackish);
}

.item1-label {
    background-color: var(--blackish);
    padding: 5px;
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
}

.number {
    background-color: var(--white);
    padding: 5px 10px;
    color: var(--blackish);
    font-size: 12px;
}

.nav-item1 .drop-icon i {
    background-color: var(--blackish);
    padding: 5px 10px;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

.nav-item2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.nav-item2 i {
    cursor: pointer;
    font-size: 18px;
}

.item2-label {
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    color: var(--blackish);
    text-align: center;
    margin-top: 1px;
}

.date-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--blackish);
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.date-input {
    width: 200px;
    background-color: #ffffff;
    padding: 7px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#clear-date {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    display: none;
    border-radius: 50%;
    padding: 3px 4px;
    color: var(--medium-gray);
    transition: background-color 0.3s ease;
}

#clear-date:hover{
    background-color: #DBDBDB;
}

.date-input:focus {
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
    
.nav-item3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px;
}

.search-input {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 7px 10px;
    border: 1px solid var(--light-gray);
    width: 200px;
}

.search-input:focus {
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.search-button {
    font-size: 12px;
    padding: 8px 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--blackish);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item4 select{
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    padding: 8px;
    font-size: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    background-coler: #ffffff;
    box-sizing: border-box;
}
    
.nav-item4 select:focus{
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.popup {
    background: white;
    width: 600px;
    position: relative;
    transform: translateY(-100%);
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease-in-out;
    opacity: 0;
}

.popup.show {
    transform: translateY(0);
    opacity: 1;
}


.popup-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0 10px;
}

.popup-header strong{
    font-size: 14px;
}

.popup-content{
    background-color: var(--white);
    padding: 0px 20px 20px 20px;
}

.popup-content .bigger-text{
    color: var(--blackish);
    font-size: 16px;
}

.popup-content .info-text .smaller-text{
    color: var(--blackish);
    font-size: 12px;
}

.popup-content .info-text{
    display: flex;
    align-items: baseline;
}

.popup-close {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.popup-close:active{
    transform: scale(0.6);
}

#confirm-hold-form{
    display: flex;
    flex-direction: column;
}

#deactivation-reason {
    height: 100px;
    padding: 10px;
    border: 1px solid var(--light-gray);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    margin-bottom: 20px;
}

#deactivation-reason:focus {
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submit-btn {
    background-color: var(--blackish);
    color: var(--white);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: max-content;
    margin-left: auto;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-btn i {
    font-size: 14px;
    margin-left: 5px;
}

.submit-btn:disabled {
    background-color: var(--light-gray);
    cursor: not-allowed;
}


.bi.bi-info-circle{
    color: #3B83FB; 
    font-size: 12px; 
    margin-right: 5px;
}

.claimer-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 10px 30px;
}

.claimer-button a{
    background-color: var(--blackish);
    color: var(--white);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: max-content;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}

.claimer-button a i{
    font-size: 14px;
    margin-left: 5px;
}

.flatpickr {
    font-family: "Nunito", sans-serif;
}
        
.flatpickr-calendar {
    font-family: "Nunito", sans-serif;
}
        
.flatpickr-calendar .flatpickr-day,
.flatpickr-calendar .flatpickr-month {
    font-size: 12px;
    font-weight: 600;
}

@media (max-width: 1230px) {
    .search-input {
        width: 150px; 
    }
    
    .nav-item4 select{
        width: 150px; 
    }
    
    .date-input {
        width: 150px;
    }

    .nav-item2 {
        gap: 10px;
    }
}

@media (max-width: 1150px) {
    .nav-item2 {
        gap: 5px;
    }

    .date-box {
        gap: 5px;
    }

    .date {
        margin-left: 5px;
        font-size: 12px;
    }
    
    .item1-label {     
        padding: 5px 2px;
    }
    
    .number {      
        padding: 5px;
    }
    
    .nav-item1 .drop-icon i {
        padding: 5px;
        font-size: 18px;

    }
}

@media (max-width: 992px) {
    .main-content .margin-content .title-page{
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 4px solid var(--primary-color);
        width: 100%;
    }

    .search-input {
        width: 150px; 
    }

    .popup{
        width: 550px;
    }
    
    .top-nav {
        flex-direction: column;
        gap: 15px;
    }

    .row1, .row2 {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    .search-input {
        width: 200px; 
    }
    
    .nav-item4 select{
        width: 200px; 
    }
    
    .date-input {
        width: 200px;
    }
}

@media (max-width: 820px) {
    .main-content .margin-content .title-page{
        padding-bottom: 10px;
        border-bottom: 4px solid var(--primary-color);
        width: 100%;
    }
    
    .item2-label {
        display: none;
    }
}

@media (max-width: 800px) {
    .main-content .margin-content .title-page{
        font-size: 25px;
        padding-bottom: 10px;
        border-bottom: 4px solid var(--primary-color);
        width: 100%;
    }
}

@media (max-width: 768px) {
    .popup{
        width: 500px;
    }

    .popup-header strong{
        font-size: 12px;
    }

    .popup-close {
        font-size: 24px;
    }

    .popup-content .bigger-text{
        font-size: 14px;
    }

    .popup-content .info-text .smaller-text{
        font-size: 10px;
    }

    .claimer-button a{
        font-size: 12px;
        padding: 10px 15px;
    }

    .claimer-button a i{
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .item2-label {
        display: none;
    }
    
    .nav-item2 i {
        display: none;
    }
    
    .date-input {
        width: 150px;
    }

    .item1-label {     
        font-size: 12px;
    }
    
    .number {      
        font-size: 12px;
    }
    
    .nav-item1 .drop-icon i {
        font-size: 15px;
    }
}

@media (max-width: 525px) {
    .popup{
        width: 400px;
        margin: 0 10px;
    }

    .popup-header strong{
        font-size: 10px;
    }

    .popup-close {
        font-size: 20px;
    }

    .popup-content .bigger-text{
        font-size: 12px;
    }

    .popup-content .info-text .smaller-text{
        font-size: 10px;
    }

    .claimer-button a{
        font-size: 10px;
        padding: 10px 15px;
    }

    .claimer-button a i{
        font-size: 10px;
    }
    
    .search-input {
        width: 150px; 
    }
    
    .nav-item4 select{
        width: 150px; 
    }
    
    .date-input {
        width: 150px;
    }
}

@media (max-width: 470px) {
    .margin-content {
        padding: 10px 20px;
    }

    .main-content .margin-content .title-page{
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 4px solid var(--primary-color);
        width: 100%;
        font-size: 18px;
    }

    .item1-label {     
        display: none;
    }

    .search-button {
        font-size: 12px;
    }
}

@media (max-width: 410px) {
    .margin-content {
        padding: 5px 5px;
    }

    .top-nav {
        padding: 0 1px;
    }

    .date-box {
        gap: 1px;
    }

    .date {
        margin-left: 1px;
        font-size: 12px;
    }

    .claimer-button{
        margin: 10px;
    }

    .claimer-button a{
        padding: 10px;
    }

    .popup-content{
        padding: 0 10px 10px 10pxs;
    }
}






