@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F4BB00;
    --secondary-color: #5D4600;
    --accent-color: #3B2D00;
    --light-gray: #a1a1a1;
    --dark-gray: #1a1a1a;
    --medium-gray: #303030;
    --blackish: #101010;
    --blue: #3B83FB;
    --white: #ffffff;
    --lighter-gray: #f4f4f4;
    --red: #d9534f;
    --green: #1C8454;
}

.highlight-bar2{
    background-color: var(--blackish);
    height: 3px;
    margin: 20px 0px;
}

.nav-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.generate-buttons {
    margin-top: 50px;
    text-align: right;
}

.status-btn,
.survey-btn {
    margin-right: 20px; 
}

.filter-btn {
    margin-left: auto;
}

.filter-summary .filter-display {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    padding: 15px 20px;  
    background-color: #f5f5f5; 
    border-radius: 5px; 
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
}

.filter-summary .filter-display span {
    font-weight: bold;
}

#reportrange{
    background-color: var(--blackish);
    color: var(--white);
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease;
}

#reportrange:h {
    box-shadow: none;
    background-color: var(--white);
    color: var(--blackish);
    border: 1px solid var(--blackish);
}

.reports-btn{
    font-family: 'Montserrat', sans-serif;
    width: 220px;
    background-color: var(--blackish);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease;
}

.reports-btn:hover {
    box-shadow: none;
    background-color: var(--white);
    color: var(--blackish);
    border: 1px solid var(--blackish);
}

.gen-btn i{
    margin-left: 5px;
}

.disabled-button {
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
   background-color: var(--green);
    color: var(--white);
    cursor: not-allowed;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    opacity: 0.4;
}

.gen-btn{
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    background-color: var(--green);
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease;
}

.gen-btn:hover {
    box-shadow: none;
}

.show-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.show-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--primary-color); 
    color: var(--blackish); 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.show-btn:hover {
    box-shadow: none;
}

.show-btn i {
    margin-left: 8px; 
    transition: transform 0.3s ease;
}

.show-btn:hover i {
    transform: translateX(5px);
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.back-btn {
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--blackish);
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.back-btn:active{
    transform: scale(0.8);
}

.current-page-btn {
    background-color: var(--white);
    color: var(--blackish);
    border: 1px solid var(--blackish);
    box-shadow: none;
}

.filters-btn{
    width: 80px;
    background-color: var(--blackish);
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease;
}

.filters-btn:hover {
    box-shadow: none;
    background-color: var(--white);
    color: var(--blackish);
    border: 1px solid var(--blackish);
}



#processing-card-reports,
#claimed-card-reports, 
#eval-sent, 
#overall-score{
    background-color: var(--blackish);
}

#processing-card-reports .card-number,
#claimed-card-reports .card-number,  
#eval-sent .card-number{
    color: var(--primary-color); 
}

#overall-score .card-number {
    position: relative;
    display: inline-block;
    width: 70px; 
    height: 70px;
    line-height: 70px; 
    background-color: white;
    border-radius: 50%; 
    font-weight: bold;
    font-size: 35px; 
    text-align: center; 
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
}

.feedback-container{
    padding: 10px 0px;
}

.feedback-item {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.feedback-header .feedback-name {
    font-weight: bold;
    font-size: 14px;
}

.feedback-header .feedback-date {
    font-size: 12px;
    color: var(--medium-gray);
}

.feedback-item .star-rating {
    color: var(--primary-color);
    font-size: 12px;
}

.feedback-item .feedback-text {
    font-size: 12px;
    margin-top: 20px;
}

.responsive-canvas {
    width: 100% !important;
    max-width: 700px;
    height: auto !important;
}

.bar-canvas {
    width: 100%;
}

.chart-container{
    display: flex;
    justify-content: center; 
    align-items: center;   
    width: 100%;
}

.report-column.left .canvas-container{
    display: flex;
    justify-content: center;
}

.calendar-container,
.year-container {
    display: none;
    width: 330px;
    padding: 10px 0px;
}

.year-container select,
.today-container input,
.start-container input,
.end-container input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 15px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.today-container label,
.start-container label,
.end-container label {
    font-size: 12px;
}

.today-container input:focus,
.year-container select:focus,
.start-container input:focus,
.end-container input:focus {
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.filter-box {
    display: flex;
    gap: 30px;
}

.modal {
    display: none;
    position: absolute;
    top: 180px;
    right: 60px;
    transform: translateY(-50%);
    width: 500px; 
    max-width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.modal-content {
    background-color: #f3f2f8;
    padding: 15px;
    border-radius: 10px 0 0 10px; 
    width: 100%;
    text-align: center;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2); 
}

.flatpickr {
    font-family: "Nunito", sans-serif;
}

.flatpickr-calendar {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    margin: 0;
}

.flatpickr-calendar .flatpickr-day {
    font-size: 10px;
}

.flatpickr-calendar .flatpickr-day,
.flatpickr-calendar .flatpickr-month {
    font-weight: 500;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 170px;
    padding: 10px 0px;
}

.select-container select {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 15px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.select-container select:focus {
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button-container {
    display: flex;
    gap: 10px;
}

.apply-btn,
.cancel-btn {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.apply-btn:active,
.cancel-btn:active {
    transform: scale(0.8);
}

.apply-btn {
    background-color: #F4BB00;
}

.cancel-btn {
    background-color: #101010;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.popup {
    background: white;
    width: 600px;
    position: relative;
    transform: translateY(-100%);
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease-in-out;
    opacity: 0;
}

.popup.show {
    transform: translateY(0);
    opacity: 1;
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0 10px;
}

.popup-header strong {
    font-size: 14px;
}

.popup-content {
    background-color: var(--white);
    padding: 20px;
}

.popup-content .bigger-text {
    color: var(--blackish);
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
}

.report-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.pdf-btn, 
.csv-btn{
    background-color: var(--lighter-gray);
    border: none;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.pdf-btn:hover, 
.csv-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.7);
}

.pdf-btn img, 
.csv-btn img{
    width: 70px;
    height: 70px;
}
.popup-close {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.popup-close:active{
    transform: scale(0.6);
}

@media (max-width: 1445px) {
    .card-heading {
        font-size: 16px;
    }
}

@media (max-width: 1405px) {
    .card-view {
        gap: 30px;
    }
}

@media (max-width: 1375px) {
    .card-view {
        gap: 20px;
    }
}

@media (max-width: 1346px) {
    .card-heading {
        font-size: 16px;
    }
    
    .card-number {
        font-size: 48px;
        margin: 5px 0;
    }

    #overall-score .card-number {
        font-size: 30px; 
        width: 60px; 
        height: 60px;
        line-height: 60px; 
        border: 3px solid var(--green);
    }
}

@media (max-width: 1290px) {
    #overall-score .card-heading {
        font-size: 15px;
        }
    }

@media (max-width: 1260px) {
    .card {
        padding: 15px 0;
    }
}

@media (max-width: 1215px) {
    .card-heading {
        font-size: 15px;
    }
    
    .card-number {
        font-size: 45px;
        margin: 0;
    }

    .see-more {
        font-size: 11px;
        right: 5px;
    }

    #overall-score .card-number {
        font-size: 30px; 
        width: 55px; 
        height: 55px;
        line-height: 55px; 
    }
}

@media (max-width: 1170px) {
    .card-heading {
        font-size: 14px;
    }
    
    .card-number {
        font-size: 40px;
        margin: 0;
    }

    .see-more {
        font-size: 11px;
    }

    #overall-score .card-number {
        font-size: 25px; 
        width: 45px; 
        height: 45px;
        line-height: 45px; 
    }

    #overall-score .card-heading {
        font-size: 13px;
    }

}

@media only screen and (min-width: 993px) and (max-width: 1169px) {
    .card {
        padding: 10px 0;
    }
    .card-heading {
        font-size: 13px;
    }
    
    .card-number {
        font-size: 35px;
        margin: 0;
    }

    .see-more {
        font-size: 10px;
        bottom: 2px;
        right: 2px;
    }

    .heading-container h3 {
        font-size: 16px;
    }
    
    .btn-see-more {
        font-size: 10px;
        color: var(--white);
        padding: 3px 5px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 992px){
    .card-view {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px; 
    }

    .card {
        padding: 20px;
    }

    .card-heading {
        font-size: 18px;
    }
    
    .card-number {
        font-size: 45px;
        margin: 0;
    }
    
    .latest-reports {
        display: flex;
        flex-direction: column; 
    }

    #overall-score .card-heading {
        font-size: 18px;
        
    }

    #overall-score .card-number {
        width: 60px; 
        height: 60px;
        line-height: 60px; 
        font-size: 35px; 
        border: 4px solid var(--green);
    }
    
    .reports-btn{
        width: 180px;
        font-size: 13px;
    }
    
    #reportrange{
         font-size: 14px;
    }

}

@media (max-width: 768px) {
    .card-view {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
    }
    
    #reportrange{
         font-size: 11px;
    }

}

@media (max-width: 690px) {
    .status-btn,
    .survey-btn {
        margin-right: 10px; 
    }

    .reports-btn{
        width: 170px;
        font-size: 12px;
    }

}

@media (max-width: 645px) {
    .nav-buttons {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    
    #reportrange{
        margin-top: 10px;
    }

}

@media (max-width: 600px) {
    #overall-score .card-heading {
        font-size: 16px;
        
    }

    #eval-sent .card-number{
        line-height: 70px; 
    }
}

@media (max-width: 580px) {
    .card-heading {
        font-size: 16px;
    }
    
    .card-number {
        font-size: 40px;
        margin: 0;
    }

}

@media (max-width: 560px) {
    .status-btn,
    .survey-btn {
        margin-right: 0; 
    }

    .reports-btn{
        width: 180px;
        font-size: 13px;
        margin-right: 8px;
    }

    .filters-btn{
        width: 60px;
        font-size: 13px;
    }

}

@media (max-width: 550px) {
    .card {
        padding: 10px;
    }
    .card-view {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }

}

@media (max-width: 525px) {
    .card-heading {
        font-size: 14px;
    }

    .heading-container h3 {
        font-size: 14px;
    }
    
    .btn-see-more {
        font-size: 10px;
    }

    .reports-btn{
        width: 150px;
        font-size: 12px;
        margin-right: 5px;
    }

    .filters-btn{
        width: 50px;
        font-size: 11px;
    }

    #overall-score .card-heading {
        font-size: 14px;
        
    }


}

@media (max-width: 470px) {
    .margin-content {
        padding: 10px 20px;
    }

}

@media (max-width: 440px) {
    .card-heading {
        font-size: 12px;
    }

    #overall-score .card-heading {
        font-size: 12px;
        
    }

}

@media (max-width: 410px) {
    .margin-content {
        padding: 5px 5px;
    }

    .heading-container h3 {
        font-size: 14px;
    }
    
    .btn-see-more {
        font-size: 10px;
    }

    .latest-reports {
        padding: 5px;
     
    }
}

@media (max-width: 375px) {
    .card {      
        padding: 10px;
    }

    .card-heading {
        font-size: 11px;
    }

    .see-more {
        font-size: 10px;
        bottom: 2px;
        right: 2px;
    }

    #overall-score .card-heading {
        font-size: 11px;
        
    }

    #overall-score .card-number {
        width: 60px; 
        height: 60px;
        line-height: 60px; 
        font-size: 35px; 
        border: 3px solid var(--green);
    }

}

@media (max-width: 374px) {
    .nav-buttons {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .filter-btn {
        width: 100%; 
        margin-top: 10px; 
    }

    .status-btn {
        margin-right: 0; 
    }

    .survey-btn {
        margin-right: 0;
    }

    #overall-score .card-number {
        width: 50px; 
        height: 50px;
        line-height: 50px; 
        font-size: 30px; 
        border: 3px solid var(--green);
    }
}

