.toast-icon-success, .toast-icon-error {
    margin-right: 8px; 
    vertical-align: middle; 
    font-size: 14px; 
}

.toast-icon-success {
    color: #1C8454; 
}

.toast-icon-error {
    color: #d9534f; 
}

.toast-success {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 300px; 
    padding: 15px; 
    color: #686D76;
}

.toast-error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 300px; 
    padding: 15px; 
    color: #686D76;
}

.toast-error::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #d9534f;
    animation: loading-error 3s linear infinite;
}

.toast-success::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #1C8454;
    animation: loading-success 3s linear infinite;
}

@keyframes loading-error {
    0% {
        width: 100%;
        background: #d9534f;
    }
    100% {
        width: 0;
        background: #d9534f;
    }
}

@keyframes loading-success {
    0% {
        width: 100%;
        background: #1C8454;
    }
    100% {
        width: 0;
        background: #1C8454;
    }
}
