@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F4BB00;
    --secondary-color: #5D4600;
    --accent-color: #3B2D00;
    --light-gray: #a1a1a1;
    --dark-gray: #1a1a1a;
    --medium-gray: #303030;
    --blackish: #101010;
    --blue: #3B83FB;
    --white: #ffffff;
    --green: #1C8454;
    --lighter-gray: #f4f4f4;
    --red: #d9534f;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--blackish);
    color: var(--light-gray);
    height: 40px;
    z-index: 9999;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 300px;
    height: 40px;
}

.highlight-bar{
    background-color: var(--primary-color);
    height: 10px;
}

.qr-box{
    margin: 20px 0;
    padding: 20px;
    background-color: var(--lighter-gray);
}

.qr-box img{
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid var(--lighter-gray);
    background-color: var(--white);
}

.qr-box text1{
    font-size: 14px;
    font-weight: 600;
}

.qr-box text2,
.text4{
    font-size: 12px;
    font-weight: 500;
}

.qr-box text3{
    font-size: 16px;
}

.form-box {
    max-width: 700px;
    width: 100%;
    border: 1px solid #D3D3D3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-box-totp {
    max-width: 700px;
    width: 100%;
    margin-bottom: 100px;
    border: 1px solid #D3D3D3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-box-success{
    max-width: 650px;
    width: 100%;
    border: 1px solid #D3D3D3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.totp-text{
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #D3D3D3;
    margin-bottom: 20px
}

.form-box .logo,
.form-box-totp .logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.form-box-success .check {
    height: 200px;
    width: 200px;
}

.form-box label, 
.form-box-totp label{
    font-size: 14px;
    font-weight: 500;
}

.form-box input[type="number"], 
.form-box-totp input[type="number"]{
    margin: 10px auto;
    width: 100%;
    padding: 12px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    background-clip: padding-box;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
    box-sizing: border-box;
}

.form-box input[type="number"]:focus, 
.form-box-totp input[type="number"]:focus {
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-box input[type="number"].is-invalid, 
.form-box-totp input[type="number"].is-invalid {
    border: 1px solid var(--red); 
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

#otp::-webkit-outer-spin-button,
#otp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 
#otp[type="number"] {
    -moz-appearance: textfield;
}

.form-box .submit, 
.form-box-totp .submit {
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-box .cancel, 
.form-box-totp .cancel {
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--white);
    color: var(--blackish);
    border: 1px solid var(--blackish);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-box .cancel:hover, 
.form-box-totp .cancel:hover{
    background-color: var(--blackish);
    color: var(--white);
}

.form-box i {
    margin-right: 5px;
    font-size: 16px;
}

.form-box .submit:hover, 
.form-box-totp .submit:hover{
    background-color: #146b43;
}

.form-box .reset-button{
    color: #6d6d6d;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none; 
}

.form-box .reset-button:hover{
    color: var(--dark-gray);
}

.remember{
    display: flex;
    align-items: center;
}

.totp-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reset-text{
    font-size: 12px;
    font-weight: 500;
}

.reset-btn{
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--blackish);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    text-decoration: none;
    border: none;
}

.cancel-btn{
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--white);
    color: var(--blackish);
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border: 1px solid var(--blackish);
}

.cancel-btn:hover {
    background-color: var(--blackish);
    color: var(--white);
}

.form-details{
    background-color: var(--white);
    padding: 20px;
}

.success-icon img{
    width: 200px; 
    height: auto;
}

.success-text{
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: justify;
}

.success-text p{
    width: 80%;
    font-size: 14px;
}

.bi.bi-info-circle{
    color: #3B83FB; 
    font-size: 14px; 
    margin-right: 5px;
}

.title-sucess{
    text-align: center;
    font-size: 28px;
    margin: 20px 20px 30px 20px;
}

.title-survey{
    text-align: center;
    font-size: 28px;
    color: var(--green);
}

.success-icon{
    text-align: center;
    margin-bottom: 20px;
}

.invalid-feedback{
    color: var(--red);
    text-align: left;
    font-size: 12px;
    font-weight: 500;
}

@media (max-width: 830px) {
    .title-sucess{
        font-size: 24px;
    }

    .form-box-success{
        max-width: 500px;
    }

    .success-icon img{
        width: 150px;
    }

    .success-text p{
        font-size: 12px;
    }
}